@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 300 800;
    font-stretch: 75% 100%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 300 800;
    font-stretch: 75% 100%;
    font-style: italic;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    color: #1E222E;
    font-family: "Open Sans", Georgia, serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #1E222E;
}

button {
    border: 0;
}

a:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.header {
    padding: 16px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 24px;
}

.buttons {
    display: flex;
    padding: 6px;
    border: 1px solid #DBDFEC;
    border-radius: 12px;
    gap: 10px;
}


.nav-btn {
    padding: 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #1E222E;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

.nav-btn.active {
    color: #fff;
    background-color: #1E222E;
}


.nav-btn.active:focus {
    outline: none;
}

.nav-btn.active + .nav-btn:hover,
.nav-btn.active + .nav-btn:focus {
    background-color: #EAECF4;
}

.buttons:has(.nav-btn:last-child.active) .nav-btn:first-child:hover,
.buttons:has(.nav-btn:last-child.active) .nav-btn:first-child:focus {
    background-color: #EAECF4;
}

.lang {
    border: 1px solid #DBDFEC;
    border-radius: 12px;
    padding: 18px 23px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #1E222E;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.lang:hover {
    background-color: #DBDFEC;
}

.lang:focus {
    background-color: #DBDFEC;
    outline: none;
}

.lang:disabled {
    background-color: #F0F0F0;
    color: #9A9BA0;
    cursor: not-allowed;
}

.banner {
    background-color: #F4F6FA;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 400px;
}

.banner-title {
    font-size: 40px;

}

.blue-text {
    color: #476BF0;
}

.banner-description {
    font-size: 18px;
    width: 383px;
    margin-bottom: 48px;
}

.banner-btn {
    background-color: #476BF0;
    color: #fff;
    font-family: inherit;
    width: 282px;
    padding: 18px 32px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.banner-btn:hover {
    background-color: #3356D7;
}

.banner-btn:focus {
    background-color: #3356D7;
    outline: none;
}

.banner-btn:disabled {
    background-color: #F0F0F0;
    color: #9A9BA0;
    cursor: not-allowed;
}

.cards {
    padding: 100px 0;
}

.card-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 100px;
}

.card {
    border-radius: 16px;
    height: 520px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 92px;
}

.card-blue {
    background-color: #A8DCFF;
}

.card-purple {
    background-color: #8CA3FF;
}

.card-info {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.card-title {
    font-size: 32px;
}

.card-description {
    font-size: 18px;

}

.card-blue .card-description {
    margin-bottom: 12px;
}

.card-button {
    border-radius: 8px;
    color: #1E222E;
    background-color: #fff;
    font-family: inherit;
    font-weight: 500;
    padding: 12px 21px;
    width: 224px;
    font-size: 15px;
    cursor: pointer;
}


.card-button:hover {
    background-color: #EAECF4;
}

.card-button:focus {
    background-color: #EAECF4;
    outline: none;
}

.card-button:disabled {
    background-color: #FFFFFF;
    color: #9A9BA0;
    cursor: not-allowed;
}

.card-blue .card-info {
    padding: 168px 0;
    padding-right: 132px;
}

.card-purple .card-info {
    padding: 172px 0;
    padding-left: 140px;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 280px;
    max-width: 320px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon-img {
    display: flex;
    width: 64px;
    height: 64px;
    background-color: #4f46e5;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-around {
    display: flex;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-title {
    margin-top: 20px;
}

.icon-description {
    margin-top: 12px;
    margin-bottom: 100px;
}

.icon-manual {
    margin-bottom: 40px;
    text-align: center;
}

.portfolio-container {
    display: flex;
    text-align: center;
    gap: 25px;
}

.portfolio {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.portfolio-card {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 286px;
    height: 100%;
}

.portfolio-name {
    font-size: 32px;
    text-align: center;
    padding-bottom: 40px;
    max-width: 476px;
    margin: 0 auto;
}

.portfolio-img {
    display: flex;
    width: 286px;
    height: 326px;
    background-color: #F6F6F6;
    border-radius: 16px;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfolio-title {
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;

}

.portfolio-description {
    margin-top: 12px;
    margin-bottom: 100px;
    text-align: left;
    font-size: 15px;
    color: #696E82;
}

.footer .container {
    display: flex;
    justify-content: space-between;

}

.footer {
    background-color: #F4F6FA;
    padding-top: 40px;
}

.footer-button {
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    width: 143px;
    margin-top: 12px;
    background-color: #1E222E;
    color: #FFFFFF;
    cursor: pointer;
}

.footer-button:hover {
    background-color: #383F52;
}

.footer-button:focus {
    outline: none;
    background-color: #383F52;
}

.footer-button:disabled {
    background-color: #E3E5EB;
    color: #9CA3AF;
    cursor: not-allowed;
    border-color: transparent;
}

.footer-contact {
    margin-right: 128px;
}

.footer-phone .footer-description:hover {
    color: #476BF0;
}

.footer-name {
    color: #6A6E80;
    font-weight: 400;
    font-size: 13px;
    margin-top: 16px;
    width: 191px;

}

.footer-description {
    color: #1E222E;
    font-weight: 700;
    font-size: 20px;
}

.footer-local {
    margin-top: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;
}

.footer-sity {
    color: #476BF0;
}

.footer-center {
    display: flex;
    gap: 60px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 16px;
    color: #1E222E;
    text-decoration: none;
    font-size: 16px;
}


.footer-links a:hover {
    color: #476BF0;
}

.footer-links a:focus {
    color: #476BF0;
}

.footer-right {
    margin-left: 156px;
    width: 400px;

}

.footer-policy {
    color: #6A6E80;
    font-size: 13px;

}

.footer-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    font-size: 13px;
    color: #6A6E80;
    width: 348px;

}

.footer-link:hover,
.footer-lang:hover {
    color: #1E222E;
}

.footer-link:focus,
.footer-lang:focus {
    color: #1E222E;
}

.footer-icon {
    margin-top: 32px;
    display: flex;
    gap: 8px;
}

.footer-icon svg:hover circle {
    fill: #D2D4DA;
}

.footer-icon svg:focus circle {
    fill: #D2D4DA;
}

.footer-icon svg {
    border-radius: 50%;
}

.footer-copy {
    color: #6A6E80;
    width: 450px;
    margin-top: 32px;
    margin-bottom: 12px;
}

.footer-meta {
    display: flex;
    flex-direction: column;

}

.footer-info {
    font-size: 10px;
    color: #6A6E80;
}

.footer-en {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.footer-lang {
    font-size: 13px;
    color: #6A6E80;
}

.footer-lang:hover {
    color: #1E222E;
}